<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado libre</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            </ul>
             <h1>Lugar para poner barra de busqueda</h1>
             <h2>Compra en cuotas y sin tarjeta de credito</h2>
             <ul>
                <li><a href="/Ofertas"></a>Ofertas</li>
                <li><a href="/Tiendas oficiales"></a>Tiendas Oficiales</li>
                <li><a href="/Vender"></a>Vender</li>
                <li><a href="/Ayuda"></a>Ayuda</li>       
             </ul>
             <ul>
                <li> <a href="/Crea tu cuenta"></a>Crea tu cuenta</li>
                <li><a href="/Ingresa"></a>Ingresa</li>
                <li><a href="Mis compras"></a>Mis compras</li>
             </ul>
             <ul>
                <img src="/images/img-home-banner.jpg" alt="img-home-banner">
             </ul>
            
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu ultima visita</h2>
            <ul>
               <li><img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"> </li> 
                <p>$6.770 <br>
                <br> 40% off</p>
                <h3>Cafetera Moulinex</h3>

                <li><img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"></li>
                <p>$230.000<br>
                <br>20% off</p>
                <h3>MacBook Pro 2019</h3>

                <li><img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></li>
                <p>$70.500<br>
                <br>10% off</p>
                <h3>Sammsung Galaxy S10</h3>

                <li><img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></li>
                <p>$23.200<br>
                <br>5% off</p>  
                <h3>Smartv Samsung 43"</h3> 
            </ul>
        </section>
        <section>

            <h2>Ofertas</h2>

            <li><img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"></li>
            <p>$6.770<br>
            <br>40% off</p>
            <h3>Cafetera Moulinex</h3>

            <li><img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"></li>
            <p>$230.000<br>
            <br>20% off</p>
            <h3>Macbook Pro 2019</h3>

            <li><img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></li>
            <p>$70.500<br>
            <br>10% off</p>
            <h3>Samsung Galaxy S10</h3>

            <li><img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></li>
            <p>$23.200<br>
            <br>5% off</p>
            <h3>Smartv Samsung 43"</h3>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="/Paga con targeta o en efectivo"></a>Paga con targeta o efectivo</li><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <li><a href="/Envio gratis desde $2500"></a>Envio gratis desde $2500</li><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <li><a href="/Seguridad, de principio a fin"></a>Seguridad de principio a fin</li><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <li><a href="/Copyright © 1999-2020 MercadoLiebre S.R.L."></a>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>
    </footer>
   
</body>
</html>